.AccountDetailsIntro{
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}
.AccountDetailsIntro h1{
    font-size: 20px;
    text-align: left;
}

.AccountDetailsMain{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 12px;
}

.AccountDetailsEdit{
    padding: 5px;
    font-weight: bold;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    height: fit-content;
}

.AccountDetailsSelections{
    border: 1px solid black;
    padding: 6px;
    margin-top: 2%;
    width: fit-content;
    margin-left: 10%;
    display: flex;
    gap: 10px;
    background: rgb(237, 237, 237);
    border-radius: 10px;
}



.AccountDetailsEmail ,.AccountDetailsPassword,.AccountDetailsDeleteAccount{
 border: 1px solid black;
 width: 80%;
margin-left: 10%;
}