.admin-customers {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}
.admin-customers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.admin-customers-header h1 {
  font-size: 36px;
  margin: 0;
}
.admin-customers-info {
  color: #008cff;
  margin-bottom: 25px;
}

.add-customer {
  background: #008cff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.add-customer:hover {
  background: #222;
}

.customers-container {
  background: rgb(211, 224, 228);
  border: 1px solid rgb(211, 224, 228);
  border-radius: 12px;
  overflow: hidden;
}

.customers-table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
}

.customers-table td:last-child {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.customers-table th {
  background: #f5f5f5;
  text-align: left;
  padding: 14px;
  font-weight: bold;
}

.customers-table td {
  padding: 14px;
  border-top: 1px solid #eee;
}

.edit-button, .delete-button {
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.edit-button {
  background: #ffffff;
  font-weight: bold;

}

.delete-button {
  background: #ff0000;
  color: #ffffff;
  font-weight: bold;

}

