.admin-dashboard {
  max-width: 1100px;
  margin: auto;
  padding: 35px;
}

.dashboard-title {
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline;
}

.dashboard-info {
  color: #000000;
  font-size: large;
  margin-bottom: 35px;
}

.dashboard-statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.dashboard-card {
  background: rgb(68, 146, 240);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.card-info {
  font-weight: 500;
  margin-bottom: 20px;
}

.card-value {
  font-size: 35px;
}

.icon {
  font-size: 26px;
  background: #f3f4f6;
  padding: 15px;
  border-radius: 12px;
}

.inventory-warnings {
  margin-top: 30px;
  background: #fbf4a4;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ffdd53;
}

.clickable-card {
  cursor: pointer;
}
.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
