.ContactMainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    margin:3vh auto;
}

.formcontact {
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 0 1px rgb(226, 226, 226); 
}



.formcontact h2 {
  font-size: 30px;
  text-align: center;
}

.formInput {
  margin-top: 20px;
}
.formcontact input{
  margin-bottom: 10px;
}
.formInput .field {
  width: 100vh;
  max-width: 400px;
  height: 50px;
  background: transparent;
  border: 2px solid #999;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.formInput .textarea.field {  
  height: 200px;
  resize: none;
  overflow-y: auto;
}

.formcontact button {
  width: 100%;
  height: 55px;
  background-color: #2d7df4;;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: white;
}

.Location {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 margin:2vh auto;
   width: fit-content;
    height: fit-content;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 0 1px rgb(226, 226, 226);
}

 

