.main-shop-container {
    background-color: #c9d2e1;
    height: 450px;
    display: flex;
    justify-content: center;

}
.shop-category-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.shop-category-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.shop-category-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.category-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.category-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 15px;
}

.category-card h3 {
  font-size: 22px;
  color: #57ace4;
  margin-bottom: 10px;
  font-weight: 400;
}

.category-card p {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  line-height: 1.4;
}

@media (max-width: 1000px) {
  .shop-category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .shop-category-container {
    grid-template-columns: 1fr;
  }
}